//Z{{ DFH_REGION_SYSID }}DS {{ JOB_CARD }}
//DEFINE    EXEC PGM=IDCAMS,REGION=1M,MEMLIMIT=0M
//SYSPRINT DD SYSOUT=*
//SYSIN    DD *
 /*                             */
 /* DEFINE A CICS LOCAL CATALOG */
 /*                             */
 DEFINE CLUSTER(NAME({{ DFH_DFHLCD }})-
          INDEXED -
          RECORDS(200 10)-
          SHR(2)-
          FREESPACE(10 10)-
          REUSE) -
        DATA(NAME({{ DFH_DFHLCD }}.DATA)-
          KEYS(52 0)-
          RECORDSIZE(70 2041)-
          CISZ(2048)) -
       INDEX(NAME({{ DFH_DFHLCD }}.INDEX))
/*
//*
//INITLCD   EXEC PGM=DFHCCUTL,MEMLIMIT=0M
//STEPLIB   DD DSN={{ DFH_CICS_HLQ }}.SDFHLOAD,DISP=SHR
//SYSPRINT  DD SYSOUT=*
//SYSUDUMP  DD SYSOUT=*
//DFHLCD    DD DSN={{ DFH_DFHLCD }},DISP=SHR
//*