//{{ DFH_REGION_APPLID }} {{ DFH_STC_JOB_CARD }}
// VARY NET,ACT,ID={{ DFH_REGION_APPLID }}
//CICS EXEC PGM=DFHSIP,PARM='SI',REGION=0M,TIME=1440,
//          MEMLIMIT=NOLIMIT
//STEPLIB  DD DISP=SHR,DSN={{ DFH_CICS_HLQ }}.SDFHAUTH
//         DD DISP=SHR,DSN={{ DFH_CICS_LICENSE_DATASET }}
//         DD DISP=SHR,DSN={{ DFH_LE_HLQ }}.SCEERUN2
//         DD DISP=SHR,DSN={{ DFH_LE_HLQ }}.SCEERUN
//DFHRPL   DD DISP=SHR,DSN={{ DFH_CICS_HLQ }}.SDFHLOAD
//         DD DISP=SHR,DSN={{ DFH_LE_HLQ }}.SCEECICS
//         DD DISP=SHR,DSN={{ DFH_LE_HLQ }}.SCEERUN2
//         DD DISP=SHR,DSN={{ DFH_LE_HLQ }}.SCEERUN
//DFHCSD   DD DISP=SHR,DSN={{ DFH_DFHCSD }}
//DFHLRQ   DD DISP=SHR,DSN={{ DFH_DFHLRQ }}
//DFHDMPA  DD DISP=SHR,DSN={{ DFH_DFHDMPA }}
//DFHDMPB  DD DISP=SHR,DSN={{ DFH_DFHDMPB }}
//DFHAUXT  DD DISP=SHR,DSN={{ DFH_DFHAUXT }}
//DFHBUXT  DD DISP=SHR,DSN={{ DFH_DFHBUXT }}
//DFHLCD   DD DISP=SHR,DSN={{ DFH_DFHLCD }}
//DFHGCD   DD DISP=SHR,DSN={{ DFH_DFHGCD }}
//DFHINTRA DD DISP=SHR,DSN={{ DFH_DFHINTRA }}
//DFHTEMP  DD DISP=SHR,DSN={{ DFH_DFHTEMP }}
//SYSPRINT DD SYSOUT=A
//SYSUDUMP DD SYSOUT=A
//SYSABEND DD SYSOUT=A
//CEEMSG   DD SYSOUT=A
//COUT     DD SYSOUT=A
//MSGUSR   DD SYSOUT=A
//PLIMSG   DD SYSOUT=A
//SYSOUT   DD SYSOUT=A
//SYSIN    DD *
* Abend the region if any SIT parameters are invalid
PARMERR=ABEND
SIT={{ DFH_REGION_SIT }}
CICSSVC={{ DFH_REGION_CICSSVC }}
GRPLIST=(DFHLIST,{{ DFH_REGION_CSDLIST }})
START=INITIAL
AICONS=AUTO
AUXTRSW=ALL
CSDRLS=NO
CSDRECOV=NONE
CSDBKUP=STATIC
CSDACC=READWRITE
TRANISO=YES
IRCSTRT=YES
ISC=YES
APPLID={{ DFH_REGION_APPLID }}
GMTEXT='{{ DFH_REGION_APPLID }} CICS SYSTEM'
DFLTUSER={{ DFH_REGION_DFLTUSER }}
USSHOME={{ DFH_CICS_USSHOME }}
USSCONFIG={{ DFH_ZFS_MOUNTPATH }}/dfhconfig
SYSIDNT={{ DFH_REGION_SYSID }}
TCPIP=YES
SEC=NO
.END
/*
//*