//Z{{ DFH_REGION_SYSID }}DS {{ JOB_CARD }}
//*
//* DEFINE THE HTML TEMPLATE DATA SET
//*
//DEFHTML  EXEC PGM=IEFBR14,MEMLIMIT=0M
//DD1   DD DISP=(NEW,CATLG,DELETE),
// SPACE=(CYL,(10,10,100)),UNIT={{ DFH_ZOS_VSAM_UNIT }},
// DCB=(RECFM=FB,LRECL=80,BLKSIZE=0),
// DSN={{ DFH_DFHHTML }}
//*
//* LOAD HTML TEMPLATE DATA SET
//*
//LOADHTML EXEC PGM=IEBUPDTE,PARM=NEW,MEMLIMIT=0M
//SYSPRINT DD  SYSOUT=*
//SYSUT2   DD  DISP=SHR,
// DSN={{ DFH_DFHHTML }}
//SYSIN    DD  DISP=SHR, ** SAMPLE TRANSACTION AMNU
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH$AMAU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION AMNU
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH$AMBU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION AMNU
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH$AMCU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION AMNU
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH$AMDU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION AMNU
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH$AMKU)
//         DD  DISP=SHR, ** CICS TRACE CONTROL FACILITY
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFHCTRMU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION STAT
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH0STMU)
//         DD  DISP=SHR, ** SAMPLE TRANSACTION STAT
// DSN={{ DFH_CICS_HLQ }}.SDFHSAMP(DFH0STSU)
//*