//Z{{ DFH_REGION_SYSID }}DS {{ JOB_CARD }}
//DEFINE   EXEC PGM=IDCAMS,REGION=1M,MEMLIMIT=0M
//SYSPRINT DD SYSOUT=*
//SYSIN    DD *
 /*                                   */
 /* DEFINE TEMPORARY STORAGE DATA SET */
 /*                                   */
 DEFINE CLUSTER(NAME({{ DFH_DFHTEMP }})-
          RECORDSIZE(4089,4089)-
          REC(200)-
          NIXD -
          CISZ(4096)-
          SHR(2 3)) -
        DATA(NAME({{ DFH_DFHTEMP }}.DATA)-
          UNIQUE)
 /*                                              */
 /* DEFINE AN INTRA-PARTITION TRANSIENT DATA SET */
 /*                                              */
 DEFINE CLUSTER(NAME({{ DFH_DFHINTRA }})-
          RECORDSIZE(4089,4089)-
          REC(100)-
          NIXD -
          CISZ(4096)-
          SHR(2 3)) -
        DATA(NAME({{ DFH_DFHINTRA }}.DATA)-
          UNIQUE)
 /*                                       */
 /* DEFINE A LOCAL REQUEST QUEUE DATA SET */
 /*                                       */
 DEFINE CLUSTER(NAME({{ DFH_DFHLRQ }})-
          INDEXED-
          LOG(UNDO)-
          CYL(2 1)-
          RECORDSIZE( 2232 2400 )-
          KEYS( 40 0 )-
          FREESPACE ( 0 10 )-
          SHAREOPTIONS( 2 3 ))-
        DATA  (NAME({{ DFH_DFHLRQ }}.DATA) -
          CISZ(2560)) -
        INDEX (NAME({{ DFH_DFHLRQ }}.INDEX))
 /*                                   */
 /* DEFINE A BRIDGE LINK3270 DATA SET */
 /*                                   */
 DEFINE CLUSTER(NAME({{ DFH_DFHBRNSF }})-
          INDEXED-
          TRK(1 1)-
          RECORDSIZE(384 384)-
          KEYS(13 20)-
          FREESPACE(0 50)-
          SHAREOPTIONS(2 3)-
          LOG(NONE)-
          CISZ(512)) -
        DATA  (NAME({{ DFH_DFHBRNSF }}.DATA)-
          CISZ(512)) -
        INDEX (NAME({{ DFH_DFHBRNSF }}.INDEX)-
          CISZ(512))
/*
//DEFTRACE EXEC PGM=IEFBR14,MEMLIMIT=0M
//DD1      DD DISP=(NEW,CATLG,DELETE),
//         SPACE=(CYL,(25)),UNIT={{ DFH_ZOS_VSAM_UNIT }},
//         DCB=(BLKSIZE=4096,RECFM=F,LRECL=4096),
//         DSN={{ DFH_DFHAUXT }}
//DD2      DD DISP=(NEW,CATLG,DELETE),
//         SPACE=(CYL,(25)),UNIT={{ DFH_ZOS_VSAM_UNIT }},
//         DCB=(BLKSIZE=4096,RECFM=F,LRECL=4096),
//         DSN={{ DFH_DFHBUXT }}
//*
//DEFDUMP  EXEC PGM=IEFBR14,MEMLIMIT=0M
//DD1      DD DISP=(NEW,CATLG,DELETE),
//         SPACE=(CYL,(25)),UNIT={{ DFH_ZOS_VSAM_UNIT }},
//         DCB=(RECFM=VB,LRECL=4092,BLKSIZE=4096),
//         DSN={{ DFH_DFHDMPA }}
//DD2      DD DISP=(NEW,CATLG,DELETE),
//         SPACE=(CYL,(25)),UNIT={{ DFH_ZOS_VSAM_UNIT }},
//         DCB=(RECFM=VB,LRECL=4092,BLKSIZE=4096),
//         DSN={{ DFH_DFHDMPB }}
//*